<body>
  <%= form_with model: @book, local: true do |form| %>
  <div>
    <%= form.label :title, 'Book Title' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, 'Book Body' %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit 'Create Book' %>
  </div>
<% end %>
</body>




